:host{
    display: block;
    height: 20px;
    width: 300px;
    margin: 8px;
    border: 1px solid;
    background-color: #fff;

    div{
       background-color: #333;
       height: 100%;
       width: 30%; 
    }
}