<div>
  <app-progress-bar [progress]="counterProgress"></app-progress-bar>
  <app-countdown #countDown [init]="totalCountDown" (onDecrease)="updateProgress($event)"
    (onComplete)="countDownFinish()">
  </app-countdown>
  <div class="initInput">
    <label for="totalCountDown">Init on: </label>
    <input id="totalCountDown" type="text" [(ngModel)]="totalCountDown">
  </div> <button (click)="countDown.startCountDown(); counterProgress=0">RESTART</button>
</div>